<launch>
    <param name="use_sim_time" value="false"/>
    
    <!-- Turtlebot minimal -->
    <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>

    <!-- Start gmapping -->
    <include file="$(find turtlebot_navigation)/launch/gmapping_demo.launch"/>

    <!-- Start teleop -->
    <node pkg="turtlebot_teleop" type="turtlebot_teleop_key" name="my_teleop_node" output="screen"></node>
   
    <param name="robot_description" command="$(find xacro)/xacro '$(find turtlebot_description)/urdf/my_robot.urdf.xacro'" />

    
 <!--
    <!- Run map node ->
    <node pkg="tour_project" type="map" name="map" output="screen"/>
-->
    <include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch"/>
</launch>